<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>数据系列配置编辑面板</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<script src="${base_url}/js/boot.js" type="text/javascript"></script>
		<style type="text/css">
			html, body {
				font-size: 12px;
				padding: 0;
				margin: 0;
				border: 0;
				height: 100%;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div class="mini-panel" style="width:100%;height:100%;"
			showToolbar="true" showHeader="false" showCloseButton="false" showFooter="true"
		>
			<div property="footer" style="">
				<div style="text-align:center;padding:5px 3px 8px 3px;">
					<a class="mini-button" id="btn-save" onclick="onOk" style="width:60px;margin-right:15px;">确定</a>
					<a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
				</div>
			</div>
			<form id="edit-seriesConfig-form" method="post" style="padding:15px 15px 15px 5px;">
				<input name="id" class="mini-hidden" />
				<input name="ignoreVersionConflict" class="mini-hidden" />
				<input name="labelPositionAutoSelect" class="mini-hidden" />
				<fieldset style="border:solid 1px #aaa;padding:3px; margin-bottom:5px;">
					<legend >
						系列配置信息
					</legend>
					<div style="padding:5px;">
						<table style="table-layout:fixed;">
							<tr>
								<td style="width:100px;">所属报表：</td>
								<td style="width:170px;">
									<input style="width:160px;" required="true" enabled="false" class="mini-buttonedit" id="reportConfig" name="reportConfig.id" textName="reportConfig.title" onbuttonclick="onChooseReportConfig" />
								</td>
								<td style="width:100px;">图表类型：</td>
								<td style="width:170px;">
									<input style="width:160px;" required="true" showNullItem="true" name="type" emptyText="请选择图表类型" nullItemText="" onvaluechanged="onTypeChanged" class="mini-combobox"  data='[{"text":"折线图","value":"line"},{"text":"柱状图","value":"bar"},{"text":"饼图","value":"pie"}]' textField="text" valueField="value"   enabled="true"  />
								</td>
							</tr>
							<tr>
								<td style="width:100px;">系列名称：</td>
								<td colspan="3" style="width:448px;">
									<input style="width:438px;" required="true" enabled="true" class="mini-textbox"  name="name" emptyText="请输入指标名称"/>
								</td>
							</tr>
							<tr>
								<td style="width:100px;">X坐标轴：</td>
								<td style="width:170px;">
									<input style="width:160px;" required="false" enabled="true" class="mini-buttonedit"  name="xAxis.id" textName="xAxis.name" onbuttonclick="onChooseAxisConfig" />
								</td>
								<td style="width:100px;">Y坐标轴：</td>
								<td style="width:170px;">
									<input style="width:160px;" required="false" enabled="true" class="mini-buttonedit"  name="yAxis.id" textName="yAxis.name" onbuttonclick="onChooseAxisConfig" />
								</td>
							</tr>
							<tr>
								<td style="width:100px;">值字段：</td>
								<td style="width:170px;">
									<input style="width:160px;" required="true" enabled="true" class="mini-buttonedit"  name="valueColumn.id" textName="valueColumn.columnName" onbuttonclick="onChooseColumnConfig" />
								</td>
								<td class="pie-td dynamic-multi-td" style="display:none; width:100px;">类目字段：</td>
								<td class="pie-td dynamic-multi-td" style="display:none;width:170px;">
									<input style="width:160px;" required="false" enabled="true" class="mini-buttonedit"  name="categoryColumn.id" textName="categoryColumn.columnName" onbuttonclick="onChooseColumnConfig" />
								</td>
							</tr>
							<tr>
								<td style="width:100px;">数据过滤条件</td>
								<td colspan="3" style="width:448px;">
									<textarea style="width:438px; height:100px;" enabled="true" class="mini-textarea showCellTooltip"  name="filter" emptyText="请编写一个JS函数来处理"></textarea>
								</td>
							</tr>
							<tr class="pie-td" style="display:none">
								<td style="width:100px;">中心X坐标：</td>
								<td style="width:170px;">
									<input style="width:160px;" required="true" enabled="true" class="mini-textbox"  name="centerX" emptyText="请输入数字或百分比"/>
								</td>
								<td style="width:100px;">中心Y坐标：</td>
								<td style="width:170px;">
									<input style="width:160px;" required="true" enabled="true" class="mini-textbox"  name="centerY" emptyText="请输入数字或百分比"/>
								</td>
							</tr>
							<tr class="pie-td" style="display:none">
								<td style="width:100px;">内环半径：</td>
								<td style="width:170px;">
									<input style="width:160px;" required="true" enabled="true" class="mini-textbox"  name="radiusInner" emptyText="请输入数字或百分比"/>
								</td>
								<td style="width:100px;">外环半径：</td>
								<td style="width:170px;">
									<input style="width:160px;" required="true" enabled="true" class="mini-textbox"  name="radiusOuter" emptyText="请输入数字或百分比"/>
								</td>
							</tr>
							<tr>
								<td class="label-td" style="display:none; width:100px;">标签位置：</td>
								<td class="label-td" style="display:none; width:170px;">
									<input style="width:160px;" showNullItem="false" name="labelPosition" emptyText="请选择标签位置" class="mini-combobox"  data='' textField="text" valueField="value"   enabled="true"  />
								</td>
								<td style="width:100px;">标签颜色：</td>
								<td style="width:170px;">
									<input style="width:160px;" enabled="true" class="mini-textbox"  name="labelColor" emptyText="请输入CSS颜色样式"/>
								</td>
							</tr>
							<tr>
								<td style="width:100px;">排序：</td>
								<td style="width:170px;">
									<input style="width:160px;" enabled="true" class="mini-spinner"  minValue="0" maxValue="9999999999999" allowLimitValue="true"  name="sort" emptyText="请输入排序"/>
								</td>
								<td></td><td></td>
							</tr>
							<tr>
								<td style="width:100px;">设置：</td>
								<td colspan="3" style="width:438px;">
									<table width="100%">
										<tr>
											<td>
												<input enabled="true" class="mini-checkbox"  name="available" text="是否启用" onvaluechanged="onAvailable" />
												<input enabled="true" class="mini-checkbox"  name="labelShow" text="标签是否显示" onvaluechanged="onLabelShow" />
												<input enabled="true" class="mini-checkbox"  name="dynamicMulti" text="动态生成多系列" onvaluechanged="onDynamicMulti" />
												<input enabled="true" class="mini-checkbox pie-td" style="display:none;" name="roseType" text="玫瑰模式" onvaluechanged="onRoseType" />
												<input enabled="true" class="mini-checkbox line-td"  style="display:none;"  name="areaStyle" text="面积模式" onvaluechanged="onAreaStyle" />
											</td>
										</tr>
									</table>
								</td>
							</tr>				
						</table>
					</div>
				</fieldSet>
			</form>
		</div>
<script id="tipTpl" type="text/x-jquery-tmpl">
<div style="color: green; width:350px; text-align:left;">
<pre>
function(obj){
    //参数解释
    //obj.row 行对象
    //obj.index 行序号(从0开始)
    //obj.data 数据列表
    //obj.resp 查询返回的整个数据包
    //obj.series 当前系列对象
    //返回布尔型，来控制当前的行数据是否可用于图形报表。
    return true;
}
</pre>
</div>
</script>
		<script type="text/javascript">
			mini.parse();
			var tip = new mini.ToolTip();
	        tip.set({
	            target: document,
	            placement: "bottom",
	            selector: '.showCellTooltip',
	            onbeforeopen: function (e) {            
		            e.cancel = false;
		        },
		        onopen: function (e) {
                    var html = $("#tipTpl").html();
                    tip.setContent(html);
		        }
	        });
			var form = new mini.Form("edit-seriesConfig-form");
			var el = mini.getbyName("reportConfig");
			zweb.onESC(form.el, el, function(){
				CloseWindow("close")
			});
			zweb.onEnter(form.el, el, function(){
				SaveData()
			});
			
			function onLabelShow(e) {
				var curr = mini.getbyName("labelShow");
				var value = curr.getFormValue();
				if ("true" == value) {
					$(".label-td").show(0);
				} else {
					$(".label-td").hide(0);
				}
			}
			
			function onTypeChanged(e) {
				var autoSelect = mini.getbyName('labelPositionAutoSelect').getFormValue();
				autoSelect = autoSelect == 'true';
				var curr = mini.getbyName("type");
				var value = curr.getFormValue();
				var combo = mini.getbyName("labelPosition");
				if ("line" == value) {
					var data = [
						{ text: "顶部", value: "top" },
						{ text: "左侧", value: "left" },
						{ text: "底部", value: "bottom" },
						{ text: "右侧", value: "right" },
						{ text: "内部", value: "inside" },
					];
					combo.setData(data);
					if (autoSelect) {
						combo.select(0);
					}
					$(".pie-td").hide(0);
					$(".bar-line-td").show(0);
					$(".line-td").show(0);
				} else if ("pie" == value) {
					var data = [
						{ text: "外环", value: "outer" },
						{ text: "内环", value: "inner" },
					];
					combo.setData(data);
					if (autoSelect) {
						combo.select(0);
					}
					$(".pie-td").show(0);
					$(".bar-line-td").hide(0);
					$(".line-td").hide(0);
				} else if ("bar" == value) {
					var data = [
						{ text: "顶部", value: "top" },
						{ text: "左侧", value: "left" },
						{ text: "底部", value: "bottom" },
						{ text: "右侧", value: "right" },
						{ text: "内部", value: "inside" },
					];
					combo.setData(data);
					if (autoSelect) {
						combo.select(0);
					}
					$(".pie-td").hide(0);
					$(".bar-line-td").show(0);
					$(".line-td").hide(0);
				} else {
					combo.setData([]);
				}
				
				onDynamicMulti({});
			}
			
			function onDynamicMulti(e) {
				var curr = mini.getbyName("dynamicMulti");
				var value = curr.getFormValue();
				if (value == 'true') {
					$('.dynamic-multi-td').show();
				} else {
					$('.dynamic-multi-td').hide();
				}
			}
			
			function onChooseReportConfig(e) {
	            var btnEdit = this;
	            mini.open({
	                url: "${base_url}/report/reportConfig/select",
	                title: "选择在线开发配置",
	                width: 1000,
	                height: 600,
	                ondestroy: function (action) {
	                    if (action == "ok") {
	                        var iframe = this.getIFrameEl();
	                        var data = iframe.contentWindow.GetData();
	                        data = mini.clone(data);    //必须
	                        if (data) {
	                            btnEdit.setValue(data.id);
	                            btnEdit.setText(data.title);
	                        }
	                    }
	                }
	            });            
	        }
	        	        	        									
			function onChooseColumnConfig(e){
	        	var rcid = mini.get("reportConfig").getFormValue();
	        	var btnEdit = this;
	            mini.open({
	                url: "${base_url}/system/column_config/select?report_config_id="+rcid,
	                title: "选择报表字段",
	                width: 1000,
	                height: 600,
	                ondestroy: function (action) {
	                    if (action == "ok") {
	                        var iframe = this.getIFrameEl();
	                        var data = iframe.contentWindow.GetData();
	                        data = mini.clone(data);    //必须
	                        if (data) {
	                            btnEdit.setValue(data.id);
	                            btnEdit.setText(data.columnName);
	                            var n = mini.getbyName("name");
	                            var v = n.getFormValue();
	                            if (v == '') {
	                            	n.setValue(data.text);
	                            }
	                        }
	                    }
	                }
	            }); 
	        }
	        	        	        									
			function onChooseAxisConfig(e) {
	            var btnEdit = this;
	            var rcid = mini.get("reportConfig").getFormValue();
	            mini.open({
	                url: "${base_url}/system/axis_config/select?report_config_id="+rcid,
	                title: "选择坐标轴配置",
	                width: 1000,
	                height: 600,
	                ondestroy: function (action) {
	                    if (action == "ok") {
	                        var iframe = this.getIFrameEl();
	                        var data = iframe.contentWindow.GetData();
	                        data = mini.clone(data);    //必须
	                        if (data) {
	                            btnEdit.setValue(data.id);
	                            btnEdit.setText(data.name);
	                        }
	                    }
	                }
	            });            
	        }
	        	        	        							        	        							        	        	        
	        function showErrorTexts(errorTexts) {
	            var s = errorTexts.join('<br/>');
	
	            var win = window.open('', "", 'height=200,width=400,top=200,left=400,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no, titlebar=no');
	            win.document.open('text/html', 'replace');
	            win.document.write(s);
	            win.document.close();
	        }
	        
			function SaveData() {
				var o = form.getData();
				form.validate();
				if(form.isValid() == false) {
					var errorTexts = form.getErrorTexts();
                	showErrorTexts(errorTexts);
					return;
				}
				//---控制表单数据不能重复提交
				var btnSave = mini.get("btn-save");
				if (!btnSave.getEnabled())
				    return ;
				btnSave.setEnabled(false);
				//----------------------

				var json = mini.encode(o);
				$.ajax({
					url : "${base_url}/system/series_config/save",
					type : 'post',
					data : {
						data : json
					},
					cache : false,
					success : function(text) {
						CloseWindow("save");
					},
					error : function(jqXHR, textStatus, errorThrown) {
						btnSave.setEnabled(true);
						if (409 == jqXHR.status){
							mini.showMessageBox({
								title : "数据版本冲突",
								message : jqXHR.responseText+"，获取最新数据？",
								buttons : ["是", "否"],
								iconCls : "mini-messagebox-question",
								allowResize : true,
					            callback: function (action) {            
					                if (action == "是") {
					                	var _data = mini.clone(o);
					                	_data.action = "edit";
					                	SetData(_data);
					                } else if (action == "否"){
					                	mini.showMessageBox({
											title : "数据版本冲突",
											message : "保留本地数据并提交覆盖最新数据？",
											buttons : ["是", "否"],
											iconCls : "mini-messagebox-question",
											callback: function (action) {
												if (action == "是") {
													#set($lor = $zwall.judge('local_override_remote'))
													#if($lor.ok)
													
													mini.getbyName("ignoreVersionConflict").setValue("true");
					                				SaveData();
					                				#else
					                				
					                				mini.alert($lor.denyReason);
					                				#end
					                				
												}
											}
										});
				                	}
					            }
					        });						
						} else {
							//400,403,500错误已经统一在sys.js处理
							if (400 != jqXHR.status && 403 != jqXHR.status && 500 != jqXHR.status) {
								var text = "操作失败，" + jqXHR.responseText;
								mini.alert(text);
							}
						}
					}
				});
			}

			////////////////////
			//标准方法接口定义
			function SetData(data) {
				if (data.action == "new") {
					//跨页面传递的数据对象，克隆后才可以安全使用
					data = mini.clone(data);
					data.labelPositionAutoSelect = true;
					form.setData(data);
					form.setChanged(false);
					mini.getbyName("available").setValue(true);
					onLabelShow({});
				} else if (data.action == "edit") {
					//跨页面传递的数据对象，克隆后才可以安全使用
					data = mini.clone(data);
					$.ajax({
						url : "${base_url}/system/series_config/" + data.id,
						cache : false,
						success : function(text) {
							var o = mini.decode(text);
							var positionVal = o.labelPosition;
							if (positionVal != '') {
								o.labelPositionAutoSelect = false;
							} else {
								o.labelPositionAutoSelect = true;
							}
							form.setData(o);
							form.setChanged(false);
							form.validate();
							onTypeChanged({});
							onLabelShow({});
							onDynamicMulti({});
						}
					});
				}
			}

			function GetData() {
				var o = form.getData();
				return o;
			}

			function CloseWindow(action) {
				if(action == "close" && form.isChanged()) {
					if(confirm("数据被修改了，是否先保存？")) {
						return false;
					}
				}
				if(window.CloseOwnerWindow)
					return window.CloseOwnerWindow(action);
				else
					window.close();
			}

			function onOk(e) {
				SaveData();
			}

			function onCancel(e) {
				CloseWindow("cancel");
			}
		</script>
	</body>
</html>
