<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>定时任务维护</title>
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				border: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		</style>
		<script src="${base_url}/js/boot.js" type="text/javascript"></script>
	</head>
	<body>

		<div class="mini-splitter" id="search-splitter" style="width:100%;height:100%;">
			<div size="225" showCollapseButton="true" expanded="false">
				<div class="mini-panel" showToolbar="true" showHeader="false" style="width:100%;height:100%;">
					<div property="toolbar" style="padding:5px 5px 5px 10px;">
						<form id="search-form">
							<table>

								<tr>
									<td>任务名称：</td>
									<td>
									<input style="width:125px;" id="name" onenter="search()" class="mini-textbox" emptyText="请输入任务名称"/>
									</td>
								</tr>

								<tr>
									<td>任务描述：</td>
									<td>
									<input style="width:125px;" id="description" onenter="search()" class="mini-textbox" emptyText="请输入任务描述"/>
									</td>
								</tr>

							</table>
							<div style="text-align: center; padding: 10px;">
								<a class="mini-button" onclick="search()" iconCls="icon-search" style="width: 60px; margin-right: 20px;">查询</a>
								<a class="mini-button" onclick="reset()" iconCls="icon-cancel"	style="width: 60px; margin-right: 20px;">清空</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div>

				<div class="mini-splitter" style="width:100%;height:100%;" vertical="true">
					<div size="40%">

						<div class="mini-toolbar" style="border-bottom:0;padding:0px;">
							<table style="width:100%;">
								<tr>
									<td style="width:100%;">
										<input id="key" class="mini-textbox" emptyText="关键词" style="width:150px;" onenter="searchKey()"/>
										<a class="mini-button" iconCls="icon-search" onclick="searchKey()">查询</a>
										<span class="separator"></span>
										<a class="mini-button" iconCls="icon-add" onclick="add()">增加</a>
										<a class="mini-button" iconCls="icon-edit" onclick="edit()">编辑</a>
										<a class="mini-button" iconCls="icon-remove" onclick="remove()">删除</a>
										<a class="mini-button" iconCls="icon-start" onclick="start()">启动</a>
										<a class="mini-button" iconCls="icon-cancel" onclick="stopAll()">全部停止</a>
										<a class="mini-button" iconCls="icon-cancel" onclick="stop()">停止</a> 
										<a class="mini-button" iconCls="icon-start" onclick="execute()">立即执行一次</a>
										<a class="mini-button" iconCls="icon-export" onclick="exportExcel()">导出</a>
										<a class="mini-button" iconCls="icon-search" onclick="highSearch()">高级查询</a>
									</td>
									<td style="white-space:nowrap;"></td>
								</tr>
							</table>
						</div>
						<div class="mini-fit">
							<div id="timedTask-datagrid" class="mini-datagrid" style="width:100%;height:100%;" allowResize="false"
							url="${base_url}/system/task/list#if(${parent_id} != '0')?#end"  idField="id" multiSelect="true"
							sizeList="[20,50,100,300,500]" pageSize="20" contextMenu="#contextMenu" showColumnsMenu="true" onselect="onRowSelect" 							>
								<div property="columns">
									<div type="indexcolumn" field="indexcolumn" align="right" width="30"></div>
									<div type="checkcolumn" width="25"></div>
									
									<div field="status" displayField="statusDesc" width="60" align="center" headerAlign="center" allowSort="true">
										状态
									</div>
									
									<div field="name"  displayField="name"   width="50%" hideable="true"  headerAlign="center" allowSort="true">
										任务名称
									</div>

									<div field="description"  displayField="description"   width="50%"  headerAlign="center" allowSort="true">
										任务描述
									</div>

									<div field="clazz"  displayField="clazz"   width="50%"  headerAlign="center" allowSort="true">
										处理类
									</div>
									
									<div field="code"  displayField="code"   width="50%"  headerAlign="center" allowSort="true">
										任务编码
									</div>

									<div field="period"  displayField="period"   width="60" align="center"  headerAlign="center" allowSort="true">
										间隔时间
									</div>

									<div field="delay"  displayField="delay"   width="60" align="center"  headerAlign="center" allowSort="true">
										延缓时间
									</div>

									<div field="firstTime"  dateFormat="yyyy-MM-dd HH:mm:ss"  width="130"  headerAlign="center" allowSort="true">
										首次执行时间
									</div>

									<div field="endTime"  dateFormat="yyyy-MM-dd HH:mm:ss"  width="130"  headerAlign="center" allowSort="true">
										结束时间
									</div>
									
									<div field="repeatCount" width="60" align="right" headerAlign="center" allowSort="true">
										重复次数
									</div>

									<div field="cron"  displayField="cron"   width="120" align="center"  headerAlign="center" allowSort="true">
										Cron表达式
									</div>

								</div>
							</div>
							<ul id="contextMenu" class="mini-contextmenu">
								<li name="fix" iconCls="icon-unlock" onclick="onFix" >
									锁定列
								</li>
								<li name="unfix" iconCls="icon-lock" onclick="onUnfix" >
									取消锁定列
								</li>
							</ul>
						</div>

					</div>
					<div showCollapseButton="true">
						<div id="detail-tabs" class="mini-tabs" activeIndex="0" onactivechanged="onTabChange" contextMenu="#refreshTabMenu" style="width:100%;height:100%;" >

							<div name="${base_url}/system/task/log" title="任务日志">
								请选择上面的定时任务
							</div>
							
							<div name="${base_url}/system/task/param" title="任务参数">
								请选择上面的定时任务
							</div>

						</div>
						<ul id="refreshTabMenu" class="mini-contextmenu" onbeforeopen="onBeforeOpen">
							<li iconCls="icon-reload" onclick="reloadTab">
								刷新标签页
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>

		<script type="text/javascript">
			mini.parse();
			var grid = mini.get("timedTask-datagrid");
			function onUnfix() {
				grid.unFrozenColumns();
			}

			function onFix() {
				mini.prompt("请输入要锁定的列数,比如：2", "请输入", function(action, value) {
					if(action == "ok" && value) {
						try {
							var end = parseInt(value);
							if(end < 0)
								end = 0;
							grid.frozenColumns(0, end);
						} catch(e) {
						}
					}
				});
			}


			grid.on("drawcell", function(e) {
				if(false) {
					var c = "";
					if(e.value == true)
						c = "checked=checked";
					e.cellHtml = "<center><input disabled=disabled type='checkbox' " + c + "/></center>";
				}
				if(e.field == "indexcolumn") {
					e.cellStyle = "background:#ecedef";
				}
				if (e.field == 'status') {
					if (e.value == 1) {
						e.cellStyle = "background: green; color: white";
					} else {
						e.cellStyle = "background: gray; color: white";
					}
				}
			});

			grid.load();

			function add() {

				mini.open({
					url : "${base_url}/system/task/edit",
					title : "新增定时任务",
					width : 630,
					height : 400,
					showModal : false,
					onload : function() {
						var iframe = this.getIFrameEl();

						var data = {
							action : "new",

						};
						iframe.contentWindow.SetData(data);
					},
					ondestroy : function(action) {
						grid.reload();
					}
				});
			}

			function edit() {

				var row = grid.getSelected();
				if(row) {
					mini.open({
						url : "${base_url}/system/task/edit",
						title : "编辑定时任务",
						width : 630,
						height : 400,
						showModal : false,
						onload : function() {
							var iframe = this.getIFrameEl();
							var data = {
								action : "edit",
								id : row.id
							};
							iframe.contentWindow.SetData(data);
						},
						ondestroy : function(action) {
							grid.reload();
						}
					});

				} else {
					mini.alert("请选中一条记录", "提示");
				}
			}

			function remove() {
				var rows = grid.getSelecteds();
				if(rows.length > 0) {
					mini.confirm("确定删除选中记录？", "确定？", function(action) {
						if(action == "ok") {
							var ids = [];
							for(var i = 0, l = rows.length; i < l; i++) {
								var r = rows[i];
								ids.push(r.id);
							}
							var id = ids.join(',');
							grid.loading("操作中，请稍后......");
							$.ajax({
								url : "${base_url}/system/task/delete?id=" + id,
								type : 'post',
								success : function(text) {
									mini.alert("删除选中记录，操作成功", "提示");
									grid.reload();
								},
								error : function(jqXHR, textStatus, errorThrown) {
									grid.unmask();
									//400,403,500错误已经统一在sys.js处理
									if(400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
										return;
									var text = "操作失败，" + jqXHR.responseText;
									mini.alert(text, "提示");
								}
							});
						}
					});
				} else {
					mini.alert("请选中一条记录", "提示");
				}
			}
			function start() {
				var row = grid.getSelected();
				if(row) {
					mini.confirm("确定启动选中任务？", "确定？", function(action) {
						if(action == "ok") {
							var id = row.id;
							grid.loading("操作中，请稍后......");
							$.ajax({
								url : "${base_url}/system/task/start?task_id=" + id,
								type : 'post',
								success : function(text) {
									mini.alert("启动任务，操作成功", "提示");
									grid.reload();
								},
								error : function(jqXHR, textStatus, errorThrown) {
									grid.unmask();
									//400,403,500错误已经统一在sys.js处理
									if(400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
										return;
									var text = "操作失败，" + jqXHR.responseText;
									mini.alert(text, "提示");
								}
							});
						}
					});
				} else {
					mini.alert("请选中一条记录", "提示");
				}
			}
			function execute() {
				var row = grid.getSelected();
				if(row) {
					mini.confirm("确定执行选中任务？", "确定？", function(action) {
						if(action == "ok") {
							var code = row.code;
							grid.loading("操作中，请稍后......");
							$.ajax({
								url : "${base_url}/system/job/execute?task_code=" + code,
								type : 'post',
								success : function(text) {
									mini.alert("执行任务，操作成功", "提示");
									grid.reload();
								},
								error : function(jqXHR, textStatus, errorThrown) {
									grid.unmask();
									//400,403,500错误已经统一在sys.js处理
									if(400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
										return;
									var text = "操作失败，" + jqXHR.responseText;
									mini.alert(text, "提示");
								}
							});
						}
					});
				} else {
					mini.alert("请选中一条记录", "提示");
				}
			}
			
			function stop() {
				var row = grid.getSelected();
				if(row) {
					mini.confirm("确定停止选中任务？", "确定？", function(action) {
						if(action == "ok") {
							var id = row.id;
							grid.loading("操作中，请稍后......");
							$.ajax({
								url : "${base_url}/system/task/stop?task_id=" + id,
								type : 'post',
								success : function(text) {
									mini.alert("停止任务，操作成功", "提示");
									grid.reload();
								},
								error : function(jqXHR, textStatus, errorThrown) {
									grid.unmask();
									//400,403,500错误已经统一在sys.js处理
									if(400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
										return;
									var text = "操作失败，" + jqXHR.responseText;
									mini.alert(text, "提示");
								}
							});
						}
					});
				} else {
					mini.alert("请选中一条记录", "提示");
				}
			}
			
			function stopAll() {
				mini.confirm("确定停止所有任务？", "确定？", function(action) {
					if(action == "ok") {
						grid.loading("操作中，请稍后......");
						$.ajax({
							url : "${base_url}/system/task/stop_all",
							type : 'post',
							success : function(text) {
								mini.alert("停止所有任务，操作成功", "提示");
								grid.reload();
							},
							error : function(jqXHR, textStatus, errorThrown) {
								grid.unmask();
								//400,403,500错误已经统一在sys.js处理
								if(400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
									return;
								var text = "操作失败，" + jqXHR.responseText;
								mini.alert(text, "提示");
							}
						});
					}
				});
			}

			function searchKey() {
				var key = mini.get("key").getFormValue();

				grid.load({
					key : key
				});

			}

			function highSearch() {
				var index = 1;
				var splitter = mini.get("search-splitter");
				var pane = splitter.getPane(index);
				if(pane.expanded) {
					splitter.collapsePane(index);
				} else {
					splitter.expandPane(index);
				}
			}

			function search() {
				var json = _getSearchJSON();
				grid.load(json);
			}

			function reset() {
				var form = new mini.Form("search-form");
				form.reset();
			}

			function _getSearchJSON() {
				var name = mini.get("name").getFormValue();
				var description = mini.get("description").getFormValue();
				return {
					name : name,
					description : description
				};
			}

			var tabs = mini.get("detail-tabs");
			var currentTab;
			function onBeforeOpen(e) {
				currentTab = tabs.getTabByEvent(e.htmlEvent);
				if(!currentTab) {
					e.cancel = true;
				}
			}

			function reloadTab() {
				tabs.reloadTab(currentTab);
			}

			var onRowSelect = function(sender) {
				var row = grid.getSelected();
				if(!row) {
					return false;
				}
				var activeTab = tabs.getActiveTab();
				if( typeof activeTab === 'undefined' || !activeTab) {
					activeTab = tabs.getTab(0);
					tabs.activeTab(activeTab);
				}
				var url = activeTab.name + "?parent_id=" + row.id + "&parent_name=" + row.name;
				tabs.loadTab(url, activeTab);
			}
			var onTabChange = function(sender) {
				var row = grid.getSelected();
				if(!row) {
					return false;
				}
				var tab = tabs.getTab(sender.index);
				var url = tab.name + "?parent_id=" + row.id + "&parent_name=" + row.name;
				tabs.loadTab(url, tab);
				currentTab = tab;
			}
			//导出
			function exportExcel() {
				var rows = grid.getSelecteds();
				if(rows.length > 0) {
					mini.confirm("确定导出选中记录？", "确定？", function(action) {
						if(action == "ok") {
							var ids = [];
							for(var i = 0, l = rows.length; i < l; i++) {
								var r = rows[i];
								ids.push(r.id);
							}
							var id = ids.join(',');
							location.href = "${base_url}/system/task/export?ids=" + id;
						}
					});
				} else {
					if(grid.totalCount > 0) {
						mini.confirm("确定导出记录？", "确定？", function(action) {
							if(action == "ok") {
								var json = _getSearchJSON();
								var queryString = $.param(json);
								var url = "${base_url}/system/task/export?" + queryString;
								location.href = url;
							}
						});
					} else {
						mini.alert("没有数据可以导出", "提示");
					}
				}
			}

		</script>
	</body>
</html>