<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>编辑租户</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<script src="${base_url}/js/boot.js" type="text/javascript"></script>
		<style type="text/css">
			html, body {
				font-size: 12px;
				padding: 0;
				margin: 0;
				border: 0;
				height: 100%;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div class="mini-panel" style="width:100%;height:100%;"
			showToolbar="true" showHeader="false" showCloseButton="false" showFooter="true"
		>
			<div property="footer" style="">
				<div style="text-align:center;padding:5px 3px 8px 3px;">
					<a class="mini-button" id="btn-save" onclick="onOk" style="width:60px;margin-right:15px;">确定</a>
					<a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
				</div>
			</div>
			<form id="edit-tenant-form" method="post" style="padding:15px 15px 15px 5px;">
				<input name="id" class="mini-hidden" />
				<input name="ignoreVersionConflict" class="mini-hidden" />
				<fieldset style="border:solid 1px #aaa;padding:3px; margin-bottom:5px;">
					<legend >
						租户信息
					</legend>
					<div style="padding:5px;">
						<table style="table-layout:fixed;">
							<tr>
								<td style="width:100px;">编号：</td>
								<td style="width:170px;">
									<input style="width:160px;" enabled="true" class="mini-textbox"  name="code" emptyText="请输入编号"/>
								</td>
																																																		
								<td style="width:100px;">名称：</td>
								<td style="width:170px;">
									<input style="width:160px;" enabled="true" class="mini-textbox"  name="name" emptyText="请输入名称"/>
								</td>
																																																		
								<td style="width:100px;">国家：</td>
								<td style="width:170px;">
									<input style="width:160px;" showNullItem="true" name="country" emptyText="请选择国家" nullItemText="" onvaluechanged="onCountryChanged" class="mini-combobox"   url="${base_url}/system/dict/options/country" textField="dictCode" valueField="dictValue"   enabled="true"  />
								</td>
							</tr>
							<tr>
								<td style="width:100px;">省份：</td>
								<td style="width:170px;">
									<input style="width:160px;" showNullItem="true" name="province" emptyText="请选择省份" nullItemText="" onvaluechanged="onProvinceChanged" class="mini-combobox"   url="${base_url}/system/dict/options/province" textField="dictCode" valueField="dictValue"   enabled="false"  />
								</td>
																																																		
								<td style="width:100px;">城市：</td>
								<td style="width:170px;">
									<input style="width:160px;" showNullItem="true" name="city" emptyText="请选择城市" nullItemText="" onvaluechanged="onCityChanged" class="mini-combobox"   url="${base_url}/system/dict/options/city" textField="dictCode" valueField="dictValue"   enabled="false"  />
								</td>
																																																		
								<td style="width:100px;">街道地址：</td>
								<td style="width:170px;">
									<input style="width:160px;" enabled="true" class="mini-textbox"  name="address" emptyText="请输入街道地址"/>
								</td>
							</tr>
							<tr>
								<td style="width:100px;">联系电话：</td>
								<td style="width:170px;">
									<input style="width:160px;" enabled="true" class="mini-textbox"  name="telephone" emptyText="请输入联系电话"/>
								</td>
																																																		
								<td style="width:100px;">联系人：</td>
								<td style="width:170px;">
									<input style="width:160px;" enabled="true" class="mini-textbox"  name="contactor" emptyText="请输入联系人"/>
								</td>
																																																		
								<td style="width:100px;">状态：</td>
								<td style="width:170px;">
									<input style="width:160px;" showNullItem="true" name="status" emptyText="请选择状态" nullItemText="" onvaluechanged="onStatusChanged" class="mini-combobox"  data='[{"text":"启用","value":"1"},{"text":"禁用","value":"2"}]' textField="text" valueField="value"   enabled="true"  />
								</td>
								<tr>
								#*
								<td style="width:100px;">设置：</td>
									<td style="width:170px;">
									<input style="width:160px;" class="mini-checkbox" text="是否隔离数据" name="isolateData" />
									</td>
								</tr>
								*#
								<tr>
								<td style="width:100px;">排序：</td>
									<td style="width:170px;">
										<input style="width:160px;" name="sort" class="mini-spinner" minValue="0" vtype="int" emptyText="请输入排序"/>
									</td>
								</tr>		
							</tr>
							   																												
						</table>
					</div>
				</fieldSet>
			</form>
		</div>
		<script type="text/javascript">
			mini.parse();

			var form = new mini.Form("edit-tenant-form");
			var el = mini.getbyName("code");
			zweb.onESC(form.el, el, function(){
				CloseWindow("close")
			});
			zweb.onEnter(form.el, el, function(){
				SaveData()
			});
										        	        							        	        							        	        							        
	        function onCountryChanged(e) {
	            var parent = mini.getbyName("country");
	            var pid = parent.getValue();
				var curr = mini.getbyName("province");
	            curr.setValue("");
	            curr.setEnabled(true);
	            
	            var url = "${base_url}/system/dict/options/province?cascadeBy=" + pid
	            curr.setUrl(url);
	            curr.select(0);
	        }
	        	        	        							        
	        function onProvinceChanged(e) {
	            var parent = mini.getbyName("province");
	            var pid = parent.getValue();
				var curr = mini.getbyName("city");
	            curr.setValue("");
	            curr.setEnabled(true);
	            
	            var url = "${base_url}/system/dict/options/city?cascadeBy=" + pid
	            curr.setUrl(url);
	            curr.select(0);
	        }
	        	        	        							        	        							        	        							        	        							        	        	        
	        function showErrorTexts(errorTexts) {
	            var s = errorTexts.join('<br/>');
	
	            var win = window.open('', "", 'height=200,width=400,top=200,left=400,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no, titlebar=no');
	            win.document.open('text/html', 'replace');
	            win.document.write(s);
	            win.document.close();
	        }
	        
			function SaveData() {
				var o = form.getData();
				form.validate();
				if(form.isValid() == false) {
					var errorTexts = form.getErrorTexts();
                	showErrorTexts(errorTexts);
					return;
				}
				//---控制表单数据不能重复提交
				var btnSave = mini.get("btn-save");
				if (!btnSave.getEnabled())
				    return ;
				btnSave.setEnabled(false);
				//-----------------------
				var json = mini.encode(o);
				$.ajax({
					url : "${base_url}/system/tenant/save",
					type : 'post',
					data : {
						data : json
					},
					cache : false,
					success : function(text) {
						CloseWindow("save");
					},
					error : function(jqXHR, textStatus, errorThrown) {
						btnSave.setEnabled(true);
						if (409 == jqXHR.status){
							mini.showMessageBox({
								title : "数据版本冲突",
								message : jqXHR.responseText+"，获取最新数据？",
								buttons : ["是", "否"],
								iconCls : "mini-messagebox-question",
								allowResize : true,
					            callback: function (action) {            
					                if (action == "是") {
					                	var _data = mini.clone(o);
					                	_data.action = "edit";
					                	SetData(_data);
					                } else if (action == "否"){
					                	mini.showMessageBox({
											title : "数据版本冲突",
											message : "保留本地数据并提交覆盖最新数据？",
											buttons : ["是", "否"],
											iconCls : "mini-messagebox-question",
											callback: function (action) {
												if (action == "是") {
													#set($lor = $zwall.judge('local_override_remote'))
													#if($lor.ok)
													mini.getbyName("ignoreVersionConflict").setValue("true");
					                				SaveData();
					                				#else
					                				mini.alert($lor.denyReason);
					                				#end
												}
											}
										});
				                	}
					            }
					        });						
						} else {
							//400,403,500错误已经统一在sys.js处理
							if (400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
								return;
							var text = "操作失败，" + jqXHR.responseText;
							mini.alert(text);
						}
					}
				});
			}

			////////////////////
			//标准方法接口定义
			function SetData(data) {
				if (data.action == "new") {
					//跨页面传递的数据对象，克隆后才可以安全使用
					data = mini.clone(data);
					form.setData(data);
					form.setChanged(false);
				} else if (data.action == "edit") {
					//跨页面传递的数据对象，克隆后才可以安全使用
					data = mini.clone(data);
					$.ajax({
						url : "${base_url}/system/tenant/" + data.id,
						cache : false,
						success : function(text) {
							var o = mini.decode(text);
							form.setData(o);
							form.setChanged(false);
							form.validate();
						}
					});
				}
			}

			function GetData() {
				var o = form.getData();
				return o;
			}

			function CloseWindow(action) {
				if(action == "close" && form.isChanged()) {
					if(confirm("数据被修改了，是否先保存？")) {
						return false;
					}
				}
				if(window.CloseOwnerWindow)
					return window.CloseOwnerWindow(action);
				else
					window.close();
			}

			function onOk(e) {
				SaveData();
			}

			function onCancel(e) {
				CloseWindow("cancel");
			}
		</script>
	</body>
</html>
