<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title></title>
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				border: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		</style>
		<script src="http://192.168.1.110:8083/js/boot.js" type="text/javascript"></script>
		<script>
		var g_base_url = "http://192.168.1.110:8083";
		var g_invite_code = "111";
		var g_report_code = "sec_issuer";
		var g_queryObj = {};
		try {
			g_queryObj = JSON.parse('');
		} catch(e){
			g_queryObj = {};
		}
		var g_queryString = $.param(g_queryObj);
		var g_row = '{}';
		</script>
	</head>
	<body>
		
		<div class="mini-splitter" id="search-splitter" style="width:100%;height:100%;">
			<div size="250" showCollapseButton="true"  expanded="false" >
				<div class="mini-panel" showToolbar="true" showHeader="false" style="width:100%;height:100%;">
				    	<form id="search-form" onsubmit="return false;" class="mini-toolbar">
							<table style="width:100%">
								
																
																									<tr>
										<td>ID:</td>
										<td>
											<input style="width:100%;" id="ID" value="" name="ID" required="false" onenter="search()" class="mini-textbox" emptyText="请输入ID"/>
										</td>
									</tr>
																								
																
								
									<tr>
										<td>Issuer:</td>
										<td>
											<input style="width:100%; " id="issuer" value="" name="issuer" required="false" onenter="search()" class="mini-textbox" emptyText="请输入Issuer"/>
										</td>
									</tr>
																
							</table>

							<div style="text-align: center; padding: 10px;">
								<a class="mini-button" onclick="search()" iconCls="icon-search" style="width: 60px; margin-right: 20px;">查询</a>
                               	<a class="mini-button" onclick="reset()" iconCls="icon-cancel"	style="width: 60px; margin-right: 20px;">清空</a>
							</div>
						</form>
					</div>
			</div>
			<div>
						
						    				<div class="mini-toolbar" style="border-bottom:0; padding:0px;">
					<table style="width:100%;">
						<tr>
							<td style="width:100%;">
								
								<input id="key" class="mini-textbox" required="false" emptyText="关键词" style="width:150px;" onenter="searchKey()"/>
								<a class="mini-button" iconCls="icon-search" onclick="searchKey()">查询</a>
																
																								<span class="separator"></span>
																								
								<a id="add" class="mini-button" enabled="true"  visible="true" iconCls="icon-add" onclick="addClicked()">Add </a>
																
								<a id="edit" class="mini-button" enabled="true"  visible="true" iconCls="icon-edit" onclick="editClicked()">Edit </a>
																
								<a id="get" class="mini-button" enabled="true"  visible="true" iconCls="icon-find" onclick="getClicked()">Get </a>
																
								<a id="remove" class="mini-button" enabled="true"  visible="true" iconCls="icon-remove" onclick="removeClicked()">Remove </a>
																
								<a id="export" class="mini-button" enabled="true"  visible="true" iconCls="icon-export" onclick="exportClicked()">Export </a>
																
								<!-- <a id="exportExcel" class="mini-button" iconCls="icon-export" onclick="exportExcel()">Export</a> -->
																
								<span class="separator"></span>
								<a id="highSearch" class="mini-button" iconCls="icon-search" onclick="highSearch()">高级查询</a>
								
							</td>
							<td style="white-space:nowrap;">
							</td>
						</tr>
					</table>
				</div>
								
									
								<div class="mini-fit">
				    					<div id="reportConfig-datagrid" style="width:100%;height:100%;" allowResize="true" url="" idField="ID"
						class="mini-datagrid" multiSelect="true" showColumnsMenu="true" onrowclick="onRowClick"
						showPager="true" sizeList="[2,20,50,100,300,500]" pageSize="100"  
																																																			
						onrowdblclick="editClicked()"
																																																																								>
					</div>
					<ul id="contextMenu" class="mini-contextmenu">
						<li name="fix" iconCls="icon-unlock" onclick="onFix" >锁定列</li>
						<li name="unfix" iconCls="icon-lock" onclick="onUnfix" >取消锁定列</li>
				    </ul>
				    				</div>
					
			</div>
		</div>
		
		<script type="text/javascript">

			mini.parse();
			$(".open-window").click(function(e) {
			    var target = e.target;
			    var url = target.getAttribute('url');
			    if (typeof url == 'undefined' || !url || url == '') {
			        mui.alert('请提供链接地址');
			    	return;
			    }
			    var title = target.getAttribute('title') || '打开窗口';
			    var width = target.getAttribute('width') || 600;
			    var height = target.getAttribute('height') || 600;
			    var action = target.getAttribute('action') || 'get';
			    var params = target.getAttribute('params') || "{}";
			    params = JSON.parse(params); 
			    params.action = params.action || action;
			    mini.open({
					url : url,
					title : title,
					width : width,
					height : height,
					showModal : false,
					showMaxButton : true,
					onload : function() {
						var iframe = this.getIFrameEl();
						if(typeof iframe.contentWindow.SetData == 'function'){
							var data = params;
							iframe.contentWindow.SetData(data);
						}
					},
					ondestroy : function(action) {
											}
				});
			}); 
			
		    var base_url = "http://192.168.1.110:8083";
			var teamEmpIds = "${teamEmpIds}";
			var teamIds = "${teamIds}";
			var content = {};
			var isFirst = true;
			var url = "http://192.168.1.110:8083/system/report/list/sec_issuer?invite_code=111&"+g_queryString;
			//alert('load->'+url);
					    
			var tip = new mini.ToolTip();
		    tip.set({
		        target: document,
		        selector: '.showTooltip,.mini-grid-headerCell',
		        placement:'bottom',
		        onbeforeopen: function (e) {            
		            var el = e.element;
		            if (el.classList.contains('mini-grid-headerCell')) {
	                    var cls = el.classList.item(1);
	                    if (cls.indexOf('tip-') == -1) {
	                        e.cancel = true;
	                        return;
	                    }
		            } else {
			            var dataType = el.getAttribute('data-type');
			            if (typeof dataType == 'undefined' || !dataType || dataType == '') {
			                e.cancel = true;
			                return;
			            }
			            var placement = el.getAttribute('placement') || 'bottom';
			            this.set({placement:placement});
		            }
		            e.cancel = false;
		        },
		        onopen: function (e) {
		            var el = e.element;
		            if (el.classList.contains('mini-grid-headerCell')) {
	                    var cls = el.classList.item(1);
	                    if (cls.indexOf('tip-') != -1) {
	                    	var text = cls.replace('tip-', '');
	                    	tip.setContent(text);
	                    }
	                    return;
		            } 
		            
		            var dataType = el.getAttribute('data-type');
		            if (dataType == "text") {
		                var text = el.getAttribute('data-text');
		                tip.setContent(text);
		            } else if (dataType == "image") {
		                 tip.setContent("<div style='max-width:800px;'><img src='"+el.src+"' /></div>");
		            } else if(dataType == 'ajax') {
		                this.showLoading(); 
		                var url = el.getAttribute('data-url');
		                var param = JSON.parse(el.getAttribute('data-param'));
		                var tplid = "#"+el.getAttribute('data-tpl-id');
		                $.ajax({
		                    url: url,
		                    data: param,
		                    async: true,
		                    success: function (resp) {
		                         var data = mini.decode(resp);
		                         var html = $(tplid).tmpl(data)[0];
		                         console.log(html);
		                         tip.setContent(html);
		                    }
		                });
		            }
		        }
		    });
		    
			var grid = mini.get("reportConfig-datagrid");
			grid.setUrl(url);

			grid.set({columns:[{type: "indexcolumn", width: "30", field:"indexcolumn"},{type: "checkcolumn", width: "25"},{name: "issuer",field: "issuer",align: "left",headerAlign: "center",width: "100",allowSort: true,header: "Issuer",},{name: "address",field: "address",align: "left",headerAlign: "center",width: "120",allowSort: true,header: "Address",},{name: "city",field: "city",align: "left",headerAlign: "center",width: "30",allowSort: true,header: "City",},{name: "postal_code",field: "postal_code",align: "left",headerAlign: "center",width: "30",allowSort: true,header: "Postal Code",},{name: "description",field: "description",align: "left",headerAlign: "center",width: "120",allowSort: true,header: "Description",}]}); 
						
			grid.on("load", function () {
			
						
				pageIndex = grid.pageIndex;
				pageSize = grid.pageSize;
		    });

						
			
			var form = new mini.Form("search-form");
			
			function onUnfix() {
				grid.unFrozenColumns();
			}
			function onFix() {
				mini.prompt("请输入要锁定的列数,比如：2", "请输入",
		            function (action, value) {
		                if (action == "ok" && value) {
		                	try {
			                	var end = parseInt(value);
			                	if (end < 0) end = 0;
			                    grid.frozenColumns(0, end);
		                  	} catch(e) {
		                  	}
		                }
		            }
		        );
			}
			/* 此处留给开发者自己处理 grid.on("drawcell", function(e){
	        	if ( false ) {
	        		var c= "";
	        		if (e.value == true)
	        			c = "checked=checked";
	        		e.cellHtml = "<center><input disabled=disabled type='checkbox' "+c+"/></center>";
	        	}
	        	if (e.field == "indexcolumn") {
	                e.cellStyle = "background:#ecedef";
	            }
	        }); */

							
				grid.load();
							
			
																															
			function addClicked() {
								
				var row = {};
				
																
				var uri = '/system/report/edit/sec_issuer?button_id=464&code=sec_issuer&invite_code=111'.replace(/\'/g,"\"")
				var url = "http://192.168.1.110:8083"+uri+"&row="+g_row;
				//alert("open->"+url);
				var ctx = {baseUrl:"base_url",row:row,grid:grid,btn:this,loginUser:{"age":0,"email":"","gender":0,"genderDesc":"保密","id":1732661443,"loginName":"admin","mobile":"","name":"超级管理员","status":"1","statusDesc":"正常"},action:"",text:"",url:url};
								
					mini.open({
					//	url : ctx.url,
						title : "Add issuer",
						width : 600,
						height : 300,
						showModal : false,
						showMaxButton : true,
						onload : function() {
							var iframe = this.getIFrameEl();
							if(typeof iframe.contentWindow.SetData == 'function'){
								var data = {
									action : "add",
									isRowSelected : false,
									row : row,
									_queryObj : g_queryObj,
									_g_row : JSON.parse(g_row)
																		
								};
								iframe.contentWindow.SetData(data);
							}
						},
						ondestroy : function(action) {
														
							grid.reload();
						}
					});
				
			}
			
			
			
										
			function editClicked() {
								
				var row = {};
				
				var _row = grid.getSelected();
				if(_row) {
					row = _row;
				
																
				var uri = '/system/report/edit/sec_issuer?button_id=465&code=sec_issuer&invite_code=111'.replace(/\'/g,"\"")
				var url = "http://192.168.1.110:8083"+uri+"&row="+g_row;
				//alert("open->"+url);
				var ctx = {baseUrl:"base_url",row:row,grid:grid,btn:this,loginUser:{"age":0,"email":"","gender":0,"genderDesc":"保密","id":1732661443,"loginName":"admin","mobile":"","name":"超级管理员","status":"1","statusDesc":"正常"},action:"",text:"",url:url};
								
					mini.open({
						url : ctx.url,
						title : "Edit issuer",
						width : 600,
						height : 300,
						showModal : false,
						showMaxButton : true,
						onload : function() {
							var iframe = this.getIFrameEl();
							if(typeof iframe.contentWindow.SetData == 'function'){
								var data = {
									action : "edit",
									isRowSelected : true,
									row : row,
									_queryObj : g_queryObj,
									_g_row : JSON.parse(g_row)
																		
								};
								iframe.contentWindow.SetData(data);
							}
						},
						ondestroy : function(action) {
														
							grid.reload();
						}
					});
				
				} else {
					mini.alert("请选中一条记录","提示");
				}
				
			}
			
			
			
										
			function getClicked() {
								
				var row = {};
				
				var _row = grid.getSelected();
				if(_row) {
					row = _row;
				
																
				var uri = '/system/report/edit/sec_issuer?button_id=466&code=sec_issuer&invite_code=111'.replace(/\'/g,"\"")
				var url = "http://192.168.1.110:8083"+uri+"&row="+g_row;
				//alert("open->"+url);
				var ctx = {baseUrl:"base_url",row:row,grid:grid,btn:this,loginUser:{"age":0,"email":"","gender":0,"genderDesc":"保密","id":1732661443,"loginName":"admin","mobile":"","name":"超级管理员","status":"1","statusDesc":"正常"},action:"",text:"",url:url};
								
					mini.open({
						url : ctx.url,
						title : "Get issuer",
						width : 600,
						height : 300,
						showModal : false,
						showMaxButton : true,
						onload : function() {
							var iframe = this.getIFrameEl();
							if(typeof iframe.contentWindow.SetData == 'function'){
								var data = {
									action : "get",
									isRowSelected : true,
									row : row,
									_queryObj : g_queryObj,
									_g_row : JSON.parse(g_row)
																		
								};
								iframe.contentWindow.SetData(data);
							}
						},
						ondestroy : function(action) {
														
							grid.reload();
						}
					});
				
				} else {
					mini.alert("请选中一条记录","提示");
				}
				
			}
			
			
			
						
			function removeClicked() {
				
				var rows = grid.getSelecteds();
				if(rows.length > 0) {
																				
										var uri = '/system/report/delete/sec_issuer?button_id=467&code=sec_issuer&invite_code=111'.replace(/\'/g,"\"")
					var url = "http://192.168.1.110:8083"+uri
					
					var ctx = {baseUrl:"http://192.168.1.110:8083",row:rows,grid:grid,btn:this,loginUser:{"age":0,"email":"","gender":0,"genderDesc":"保密","id":1732661443,"loginName":"admin","mobile":"","name":"超级管理员","status":"1","statusDesc":"正常"},action:"",text:"",url:url};
					
										
					mini.confirm("确定Remove 选中记录？", "确定？",
			            function (action) {
			                if (action == "ok") {
			                    var ids = [];
								for(var i = 0, l = rows.length; i < l; i++) {
									var r = rows[i];
									ids.push(r.ID);
								}
								var id = ids.join(',');
								grid.loading("操作中，请稍后......");
								
								$.ajax({
									url : ctx.url+"&id=" + id,
									type : 'post',
									success : function(text) {
										mini.alert("Remove 选中记录，操作成功","提示");
																				
										grid.reload();
									},
									error : function(jqXHR, textStatus, errorThrown) {
																					
										grid.unmask();
										//400,403,500错误已经统一在sys.js处理
										if (400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
											return;
										var text = "操作失败，" + jqXHR.responseText;
										mini.alert(text,"提示");
									}
								});
			                }
			            }
			        );
				} else {
					mini.alert("请选中一条记录","提示");
				}
			}
			
			
			
						
			
			
			
										
			function searchKey() {
				var key = mini.get("key").getFormValue();
								content = {
					key : key,
										
				};
				/*
				for (var _k in g_queryObj) {
				    content[_k] = g_queryObj[_k];
				}
				alert(JSON.stringify(content));
				*/
				grid.load(content);
				
			}
			
			function highSearch(){
				var index = 1;
				var splitter = mini.get("search-splitter");
				var pane = splitter.getPane(index);
				if (pane.expanded) {
					splitter.collapsePane(index);
				} else {
					splitter.expandPane(index);
				}
			}

			function search() {
				form.validate();
				if(!form.isValid()) return;

				content = _getSearchJSON();
				grid.load(content);

				return false;
			}
			function reset(){
				form.reset();
			}
			function _getSearchJSON() {
									
				var key = mini.get("key").getFormValue();
								
																			
						var ID = mini.get("ID").getFormValue();
																	
				var issuer = mini.get("issuer").getFormValue();
								
				var sf = grid.sortField;
				var so = grid.sortOrder;
				
				var json = {
																
					key : key,
															
													
							ID: ID,
						
																				
					issuer: issuer,
										
				};
				
				/*
				for (var _k in g_queryObj) {
				    json[_k] = g_queryObj[_k];
				}
				*/
				
				return json;
			}
			
			//导出
			function exportClicked(){
				var rows = grid.getSelecteds();
				if(rows.length > 0) {
					mini.confirm("确定导出选中记录？", "确定？",
			            function (action) {
			                if (action == "ok") {
								var ids = [];
								for(var i = 0, l = rows.length; i < l; i++) {
									var r = rows[i];
									ids.push(r.ID);
								}
								var id = ids.join(',');
								location.href="http://192.168.1.110:8083/system/report/export/sec_issuer?invite_code=111&code=sec_issuer&ids=" + id;
							}
						});
				} else {
					if(grid.totalCount>0){
						mini.confirm("确定导出记录？", "确定？",
				            function (action) {
				                if (action == "ok") {
				                	var queryString = "";
				                	
									var json = _getSearchJSON();
									queryString = $.param(json) ;
																		queryString += "&"+g_queryString;
									var url = "http://192.168.1.110:8083/system/report/export/sec_issuer?invite_code=111&code=sec_issuer&"+queryString;
									//mini.alert("export->"+url);
									location.href=url;
								}
							});
					} else {
						mini.alert("没有数据可以导出","提示");
					}
				}
			}

			function onRowClick(e){
				var row = grid.getSelected();
							}

			

			// 获取记录总数
			function getTotal(json) {
				$.ajax({
					url : "http://192.168.1.110:8083/system/report/get_total/sec_issuer?invite_code=111",
					type : 'post',
					data : json,
					success : function(text) {
						grid.setTotalCount(text.total);
						grid.setPageIndex(pageIndex);
						grid.setPageSize(pageSize);
						grid.setShowPager(true);
					},
					error : function(jqXHR, textStatus, errorThrown) {
						//400,403,500错误已经统一在sys.js处理
						if (400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
							return;
						var text = "操作失败，" + jqXHR.responseText;
						mini.alert(text,"提示");
					}
				});
			}
			
						
			 // end grid
			
		</script>
	</body>
</html>
