#set($type_id = $P.param('type_id', '0'))
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<script src="${base_url}/js/boot.js" type="text/javascript"></script>
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				border: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div class="mini-panel" style="width:100%;height:100%;"
			showToolbar="true" showHeader="false" showCloseButton="false" showFooter="true"
		>
			<div property="footer" style="">
				<div style="text-align:center;padding:5px 3px 8px 3px;">
					<a class="mini-button" onclick="onOk" style="width:60px;margin-right:15px;">确定</a>
					<a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
				</div>
			</div>
			<div class="mini-toolbar" style="border-bottom:0;padding:0px;">
				<table style="width:100%;">
					<tr>
						<td style="width:100%;">
						</td>
						<td style="white-space:nowrap;">
							<input id="key" class="mini-textbox" emptyText="字典名/字典值" style="width:150px;" onenter="search()"/>
							<a class="mini-button" onclick="search()">查询</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="mini-fit">
				<div id="grid1" class="mini-datagrid" style="width:100%;height:100%;" allowResize="false"
					url="${base_url}/system/dict/list?pid=$type_id&isNotType=true"  idField="id" multiSelect="false" sortMode="client"
					sizeList="[20,50,100,300,500]" pageSize="20"  showColumnsMenu="true" contextMenu="#contextMenu" onrowdblclick="onRowDblClick"
				>
					<div property="columns">
						<div type="indexcolumn" field="indexcolumn" align="right" width="30"></div>
						<div type="checkcolumn" width="25"></div>
						<div field="dictCode" hideable="true" width="100%" headerAlign="center" >
							字典名
						</div>
						<div field="dictValue" hideable="true" width="150" headerAlign="center" >
							字典值
						</div>
						<div field="isType" width="90" align="center" headerAlign="center" >
							是否用于分类
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	mini.parse();

	var grid = mini.get("grid1");
	grid.on("drawcell", function(e){
    	if (e.field == "indexcolumn") {
            e.cellStyle = "background:#ecedef";
        }
        if(e.field == "isType") {
			var c = "";
			if(e.value == true)
				c = "checked=checked";
			e.cellHtml = "<center><input disabled=disabled type='checkbox' " + c + "/></center>";
		}
    });
	grid.load();
	
	function GetSelected() {
        return grid.getSelected();
    }
    function GetSelecteds() {
        return grid.getSelecteds();
    }
	function GetData() {
        return GetSelected();
    }

	function search() {
		var key = mini.get("key").getValue();
		grid.load({
			key : key
		});
	}

	function onKeyEnter(e) {
		search();
	}

	function onRowDblClick(e) {
		onOk();
	}

	//////////////////////////////////
	function CloseWindow(action) {
		if(window.CloseOwnerWindow)
			return window.CloseOwnerWindow(action);
		else
			window.close();
	}

	function onOk() {
		CloseWindow("ok");
	}

	function onCancel() {
		CloseWindow("cancel");
	}

</script>