<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>部门编辑面板</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

		<script src="${base_url}/js/boot.js" type="text/javascript"></script>
		<style type="text/css">
			html, body {
				font-size: 12px;
				padding: 0;
				margin: 0;
				border: 0;
				height: 100%;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
	<div class="mini-panel" style="width:100%;height:100%;"
		showToolbar="true" showHeader="false" showCloseButton="false" showFooter="true"
		>
			<div property="footer" style="">
				<div style="text-align:center;padding:5px 3px 8px 3px;">
					<a class="mini-button" id="btn-save" onclick="onOk" style="width:60px;margin-right:15px;">确定</a>
					<a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
				</div>
			</div>
			<form id="edit-dept-form" method="post" style="padding:15px 15px 15px 5px;">
				<input name="id" class="mini-hidden" />
				<div style="padding-left:11px;padding-bottom:5px;">
					<table style="table-layout:fixed;">
						<tr>
							<td style="width:100px;">上级机构：</td>
							<td style="width:200px;">
								<input style="width:200px;" class="mini-buttonedit" onbuttonclick="onSelectParent" name="parent.id" textName="parent.name" />
							</td>
						</tr>
						
						<tr>
							<td style="width:100px;">组织机构名称：</td>
							<td style="width:200px;">
								<input style="width:200px;" name="name" class="mini-textbox" required="true"  emptyText="请输入名称"/>
							</td>
						</tr>
						
						<tr>
							<td style="width:100px;">组织机构代码：</td>
							<td style="width:200px;">
								<input style="width:200px;" name="code" class="mini-textbox" emptyText="请输入代码"/>
							</td>
						</tr>
						
						<tr>
							<td style="width:100px;">组织机构状态：</td>
							<td style="width:200px;">
								<input name="status" style="width:200px" id="status-combo" class="mini-combobox" textField="dictCode" valueField="dictValue" emptyText="请选择..."
	    							url="${base_url}/system/dict/options/dept_status" value="cn"  required="true" />     
							</td>
						</tr>
						<tr>
							<td style="width:100px;">备注：</td>
							<td style="width:200px;">
								<textarea name="remark" style="width:200px; height:80px;" class="mini-textarea" emptyText="请输入备注"></textarea>
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div>
		<script type="text/javascript">
			mini.parse();

			var form = new mini.Form("edit-dept-form");
			var el = mini.getbyName("code");
			zweb.onESC(form.el, el, function(){
				CloseWindow("close")
			});
			zweb.onEnter(form.el, el, function(){
				SaveData()
			});
			
			function SaveData() {
				var o = form.getData();

				form.validate();
				if(form.isValid() == false)
					return;
				//---控制表单数据不能重复提交
				var btnSave = mini.get("btn-save");
				if (!btnSave.getEnabled())
				    return ;
				btnSave.setEnabled(false);
				//----------------------
				var json = mini.encode(o);
				$.ajax({
					url : "${base_url}/system/dept/save",
					type : 'post',
					data : {
						data : json
					},
					cache : false,
					success : function(text) {
						CloseWindow("save");
					},
					error : function(jqXHR, textStatus, errorThrown) {
						btnSave.setEnabled(true);
						if (400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
							return;
						var text = "操作失败，" + jqXHR.responseText;
						mini.alert(text);
					}
				});
			}

			////////////////////
			//标准方法接口定义
			function SetData(data) {
				if(data.action == "edit") {
					//跨页面传递的数据对象，克隆后才可以安全使用
					data = mini.clone(data);

					$.ajax({
						url : "${base_url}/system/dept/" + data.id,
						cache : false,
						success : function(text) {
							var o = mini.decode(text);
							form.setData(o);
							form.setChanged(false);
							form.validate();
						}
					});
				}
			}

			function GetData() {
				var o = form.getData();
				return o;
			}

			function CloseWindow(action) {
				if(action == "close" && form.isChanged()) {
					if(confirm("数据被修改了，是否先保存？")) {
						return false;
					}
				}
				if(window.CloseOwnerWindow)
					return window.CloseOwnerWindow(action);
				else
					window.close();
			}

			function onOk(e) {
				SaveData();
			}

			function onCancel(e) {
				CloseWindow("cancel");
			}
			
			function onSelectParent(e) {
	            var btnEdit = this;
	            mini.open({
	                url: "${base_url}/system/dept/select",
	                title: "选择列表",
	                width: 650,
	                height: 380,
	                ondestroy: function (action) {
	                    if (action == "ok") {
	                        var iframe = this.getIFrameEl();
	                        var data = iframe.contentWindow.GetData();
	                        data = mini.clone(data);    //必须
	                        if (data) {
	                            btnEdit.setValue(data.id);
	                            btnEdit.setText(data.name);
	                        }
	                    }
	                }
	            });            
	        }
		</script>
	</body>
</html>
