<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>切换用户</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<script src="${base_url}/js/boot.js" type="text/javascript"></script>
		<style type="text/css">
			html, body {
				font-size: 12px;
				padding: 0;
				margin: 0;
				border: 0;
				height: 100%;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div class="mini-panel" style="width:100%;height:100%;"
			showToolbar="true" showHeader="false" showCloseButton="false" showFooter="true"
		>
			<div property="footer" style="">
				<div style="text-align:center;padding:5px 3px 8px 3px;">
					<a class="mini-button" onclick="onOk" style="width:60px;margin-right:15px;">确定</a>
					<a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
				</div>
			</div>
			<form id="change-user-form" method="post" style="padding:15px;">
				<table style="table-layout:fixed;">
					<tr>
						<td style="width:120px;">切换到哪个账号：</td>
						<td style="width:160px;">
							<input style="width:150px;" enabled="true" required="true" class="mini-buttonedit" name="to.loginName" textName="to.loginName" onbuttonclick="onChooseUser" emptyText="请选择要切换的用户" />
						</td>
					</tr>
					<tr>
						<td style="width:120px;">该用户ID：</td>
						<td style="width:160px;">
							<input style="width:150px;" name="to.id" class="mini-textbox" enabled="false"/>
						</td>
					</tr>
					<tr>
						<td style="width:120px;">该用户姓名：</td>
						<td style="width:160px;">
							<input style="width:150px;" name="to.name" class="mini-textbox" enabled="false"/>
						</td>
					</tr>
					<tr>
						<td style="width:120px;">该用户所在部门：</td>
						<td style="width:160px;">
							<input style="width:150px;" class="mini-textbox" enabled="false" name="to.dept.name" />
						</td>
					</tr>
					<tr>
						<td style="width:120px;">当前登录者密码：</td>
						<td style="width:160px;">
							<input style="width:150px;" class="mini-password" name="pwd" required="true" />
						</td>
					</tr>
				</table>
			</form>
		</div>
		<script type="text/javascript">
			mini.parse();

			var form = new mini.Form("change-user-form");
			var el = mini.getbyName("to.loginName");
			zweb.onESC(form.el, el, function(){
				CloseWindow("close")
			});
			zweb.onEnter(form.el, el, function(){
				SaveData()
			});
			
			function onChooseUser(e) {
	            var btnEdit = this;
	            mini.open({
	                url: "${base_url}/system/user/select",
	                title: "选择用户",
	                width: 1000,
	                height: 600,
	                ondestroy: function (action) {
	                    if (action == "ok") {
	                        var iframe = this.getIFrameEl();
	                        var data = iframe.contentWindow.GetSelected();
	                        data = mini.clone(data);    //必须
	                        if (data) {
	                            btnEdit.setValue(data.loginName);
	                            btnEdit.setText(data.loginName);
	                            var o = form.getData();
	                            o.to = data;
	                            form.setData(o);
	                            form.setChanged(false);
	                            form.validate();
	                        }
	                    }
	                }
	            });            
	        }
	        
			function SaveData() {
				var o = form.getData();

				form.validate();
				if(form.isValid() == false)
					return;

				$.ajax({
					url : "${base_url}/system/user/change_user",
					type : 'post',
					data : {
						uid : o.to.id,
						confirm_pwd : o.pwd
					},
					cache : false,
					success : function(text) {
						mini.alert("切换用户成功!", "提示",
				            function () {
				            	CloseWindow("reload");
				            }
				        );
					},
					error : function(jqXHR, textStatus, errorThrown) {
						//400,403,500错误已经统一在sys.js处理
						if(400 == jqXHR.status || 403 == jqXHR.status || 500 == jqXHR.status)
							return;
						var text = "操作失败，" + jqXHR.responseText;
						mini.alert(text);
					}
				});
			}

			////////////////////
			//标准方法接口定义
			function SetData(data) {
				if(data.action == "edit") {
					//跨页面传递的数据对象，克隆后才可以安全使用
					data = mini.clone(data);

					$.ajax({
						url : "${base_url}/system/user/" + data.id,
						cache : false,
						success : function(text) {
							var o = mini.decode(text);
							form.setData(o);
							form.setChanged(false);
							form.validate();
						}
					});
				}
			}

			function GetData() {
				var o = form.getData();
				return o;
			}

			function CloseWindow(action) {
				if(action == "close" && form.isChanged()) {
					if(confirm("数据被修改了，是否先保存？")) {
						return false;
					}
				}
				if(window.CloseOwnerWindow)
					return window.CloseOwnerWindow(action);
				else
					window.close();
			}

			function onOk(e) {
				SaveData();
			}

			function onCancel(e) {
				CloseWindow("cancel");
			}
			
		</script>
	</body>
</html>
